[submodule "ansible-all-my-things"]
	path = ansible-all-my-things
	url = git@github.com:wonderbird/ansible-all-my-things.git
[submodule "aircraftnoise"]
	path = aircraftnoise
	url = git@github.com:wonderbird/aircraftnoise.git
[submodule "stockbright"]
	path = stockbright
	url = git@github.com:wonderbird/stockbright.git
