[submodule "ansible-all-my-things"]
	path = ansible-all-my-things
	url = git@github.com:wonderbird/ansible-all-my-things.git
[submodule "stockbright"]
	path = stockbright
	url = git@github.com:wonderbird/stockbright.git
[submodule "aircraftnoise-backend"]
	path = aircraftnoise-backend
	url = ssh://git@192.168.171.35:/volume1/shared/git-repositories/aircraftnoise-backend.git
[submodule "aoc_test_runner"]
	path = aoc_test_runner
	url = git@github.com:wonderbird/aoc_test_runner.git
